
<div class="container  d-flex justify-content-center align-items-center">
  <div class="card shadow rounded p-4 w-100" style="max-width: 400px;">
    <div class="card-body">
      <h2 class="text-center mb-4">
        <%= t('.change_your_password', default: 'Change your password') %>
      </h2>

      <%= render "devise/shared/error_messages", resource: resource %>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "needs-validation" }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <div class="mb-3">
          <%= f.label :password, t('.new_password', default: 'New password'), class: "form-label" %>
          <%= f.password_field :password, class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= f.label :password_confirmation, t('.confirm_new_password', default: 'Confirm new password'), class: "form-label" %>
          <%= f.password_field :password_confirmation, class: "form-control", required: true %>
        </div>

        <div class="d-grid">
          <%= f.submit t('.change_my_password', default: 'Change my password'), class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="mt-3 text-center">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
  <div class="bg-white "> 

  <%= debug resource %>
  <%= render "devise/shared/error_messages", resource: resource %>

  </div>

</div>
