



<div class="d-flex flex-column justify-content-center align-items-center vh-100 bg-light text-center">
  <h1 class="display-4 mb-4"><%= t("home.welcome") %></h1>
  <p class="lead mb-4"><%= t("home.subtitle")%></p>
  <% if user_signed_in? %>
  <p><%= t("home.greeting", email: current_user.email) %></p>
  <%= button_to t("devise.logout"), destroy_user_session_path, class: "btn btn-primary btn-lg", method: :delete %>
<% else %>
  <%= link_to t("devise.login"), new_user_session_path, class: "btn btn-primary btn-lg" %> 
  <%= link_to t("devise.register"), new_user_registration_path %>
<% end %>
</div>
