<%= form_with(model: user_profile) do |form| %>
  <% if user_profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
        <% user_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :nombre_completo, style: "display: block" %>
    <%= form.text_field :nombre_completo %>
  </div>

  <div>
    <%= form.label :direccion, style: "display: block" %>
    <%= form.text_field :direccion %>
  </div>

  <div>
    <%= form.label :pais, style: "display: block" %>
    <%= form.text_field :pais %>
  </div>

  <div>
    <%= form.label :tipo_moneda, style: "display: block" %>
    <%= form.text_field :tipo_moneda %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
