<div id="<%= dom_id user_profile %>">
  <p>
    <strong>User:</strong>
    <%= user_profile.user_id %>
  </p>

  <p>
    <strong>Nombre completo:</strong>
    <%= user_profile.nombre_completo %>
  </p>

  <p>
    <strong>Direccion:</strong>
    <%= user_profile.direccion %>
  </p>

  <p>
    <strong>Pais:</strong>
    <%= user_profile.pais %>
  </p>

  <p>
    <strong>Tipo moneda:</strong>
    <%= user_profile.tipo_moneda %>
  </p>

</div>
