
		<!-- profile header start -->
		<div class="user-profile user-card mb-4">
			<div class="card-header border-0 p-0 pb-0">
				<div class="cover-img-block">
					<!-- <img src="assets/images/profile/cover.jpg" alt="" class="img-fluid"> -->
                   

					<div class="overlay"></div>
					<div class="change-cover">
						<div class="dropdown">
							<a class="drp-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icon feather icon-camera"></i></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#"><i class="feather icon-upload-cloud mr-2" data-bs-target="#uploadModal"></i>upload new</a>
								<%# <a class="dropdown-item" href="#"><i class="feather icon-image mr-2"></i>from photos</a>
								<a class="dropdown-item" href="#"><i class="feather icon-film mr-2"></i> upload video</a>
								<a class="dropdown-item" href="#"><i class="feather icon-trash-2 mr-2"></i>remove</a> %>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="card-body py-0">
				<div class="user-about-block m-0">
					<div class="row">
						<div class="col-md-4 text-center mt-n5">
							<div class="change-profile text-center">
								<div class="dropdown w-auto d-inline-block">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<%# imagen de perfil %>
                                        <div class="profile-dp">
											<div class="position-relative d-inline-block">
											<%= image_tag(
  current_user.user_profile.profile_picture.attached? ?
    url_for(current_user.user_profile.profile_picture) :
    asset_path("avatar.jpg"),
  class: "img-radius img-fluid rounded-circle",
  alt: "Foto de perfil",
    width: 150,
  height: 150,
  style: "object-fit: cover;aspect-ratio: 1/1;"

) %>




												<%# <img class="img-radius img-fluid wid-100" src="assets/images/user/avatar-5.jpg" alt="User image"> %>
											</div>
											<div class="overlay">
												<span>change</span>
											</div>
										</div>
                                        <%# certificado en web %>
										<%# <div class="certificated-badge">
											<i class="fas fa-certificate text-c-blue bg-icon"></i>
											<i class="fas fa-check front-icon text-white"></i>
										</div> %>
									</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#"><i class="feather icon-upload-cloud mr-2"></i>upload new</a>
										<%# <a class="dropdown-item" href="#"><i class="feather icon-image mr-2"></i>from photos</a>
										<a class="dropdown-item" href="#"><i class="feather icon-shield mr-2"></i>Protact</a>
										<a class="dropdown-item" href="#"><i class="feather icon-trash-2 mr-2"></i>remove</a> %>
									</div>
								</div>
							</div>
							<h5 class="mb-1"><%= current_user.user_profile.full_name %></h5>
							<p class="mb-2 text-muted">UI/UX Designer</p>
						</div>

                        <%# datos usuario %>
						<div class="col-md-8 mt-md-4">
							<div class="row">
								<div class="col-md-6">
									<p class="mb-1 text-muted d-flex align-items-end text-h-primary">
                                    <i class="feather icon-globe mr-2 f-18"></i>
                                    <%= current_user.user_profile&.web.presence || "tu web" %>
                                    </p>

                                    <div class="clearfix"></div>

                                    <p class="mb-1 text-muted d-flex align-items-end text-h-primary">
                                    <i class="feather icon-mail mr-2 f-18"></i>
                                    <%= current_user.email %>
                                    </p>

                                    <div class="clearfix"></div>

                                    <p class="mb-1 text-muted d-flex align-items-end text-h-primary">
                                    <i class="feather icon-phone mr-2 f-18"></i>
                                    +1 <%= current_user.user_profile&.phone.presence || "tu número telefónico" %>
                                    </p>

								</div>
								<div class="col-md-6">
									<div class="media">
										<i class="feather icon-map-pin mr-2 mt-1 f-18"></i>
										<div class="media-body">
											<p class="mb-0 text-muted">
                                            <%= current_user.user_profile&.address.presence || "tu número telefónico" %>
                                            </p>
											<p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
											<p class="mb-0 text-muted">Maryland (21201)</p>
										</div>
									</div>
								</div>
							</div>
							<ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link text-reset active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true"><i class="feather icon-home mr-2"></i>Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-reset" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false"><i class="feather icon-user mr-2"></i>Profile</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-reset" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false"><i class="feather icon-phone mr-2"></i>Trabajadores</a>
								</li>
								<%# <li class="nav-item">
									<a class="nav-link text-reset" id="gallery-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="gallery" aria-selected="false"><i class="feather icon-image mr-2"></i>Gallery</a>
								</li> %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- profile header end -->




<%= render 'shared/profile/file_upload'%>