<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Circadmin" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <!-- Al final del <body> o justo antes de los scripts -->
    <% unless content_for?(:importmap_loaded) %>
      <% content_for :importmap_loaded do %>
        <%= javascript_importmap_tags %>
      <% end %>
    <% end %>

    <%= yield :importmap_loaded %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel: "stylesheet", crossorigin: "anonymous" %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>

    <%#= javascript_importmap_tags %>
    <style>
  html, body {
    height: 100%;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1; /* ocupa todo el espacio disponible */
    display: flex;
    flex-direction: column;
  }
</style>

  </head>

  <body>
       <%# < style="color: gray;">Locale actual: <%= I18n.locale % %>
      
      
    <main class="bg-light ">
      <%= render 'shared/language_selector' %>
      <%=render 'shared/alert'%>
      <%= yield %>
    </main>

    <%= render 'shared/footer'%>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js", crossorigin: "anonymous" %>

  </body>
</html>
